<div class="login_component">
<mat-toolbar color="warn">
  <span>innovaTube</span>
</mat-toolbar>
<mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Iniciar Sesión</h2>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="user_name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Entrar</button>

      <mat-card-actions class="text-center">
        <button mat-button color="accent" (click)="irARegistro()">
          ¿No tienes cuenta? Regístrate aquí
        </button>
      </mat-card-actions>

    </form>
</mat-card>
</div>